<mat-card class="cardFormat">
    <mat-card-header>
      <div mat-card-avatar class="sheridan-icon"></div>
      <mat-card-title>Sheridan College</mat-card-title>
      <mat-card-subtitle>Davis Campus</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img mat-card-image src="./assets/images/davis.png" alt="Davis" class="imagesizes">
      <button mat-icon-button (click)="campusAddress('davis')">
        <span class="material-icons">contact_support</span>
      </button>
      <p><strong><mark>Sheridan College Davis Campus</mark></strong> is located in <strong><em>Brampton, ON Canada.</em></strong><br> 
        It is the largest campus and includes applied health, community services, engineering and technology programs</p>
    </mat-card-content>
    <mat-card-footer>
      <a href="https://www.sheridancollege.ca" target="_blank">Sheridan College Web Site</a>
    </mat-card-footer>
  </mat-card>
  