<mat-card class=cardFormat>
    <mat-card-header>
      <div mat-card-avatar class="sheridan-icon"></div>
      <mat-card-title>Sheridan College</mat-card-title>
      <mat-card-subtitle>Trafalgar Campus</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img mat-card-image src="./assets/images/trafalgar.png" alt="Trafalgar" class="imagesizes">
      <button mat-icon-button (click)="campusAddress('trafalgar')">
        <span class="material-icons">contact_support</span>
      </button>
      <p><strong><mark>Sheridan College Trafalgar Campus</mark></strong> is located in <strong><em>Oakville, ON Canada.</em></strong><br> 
        Arts, technology and humanities students mix and mingle to create a thriving and diverse atmosphere.</p>
    </mat-card-content>
    <mat-card-footer>
      <a href="https://www.sheridancollege.ca" target="_blank">Sheridan College Web Site</a>
    </mat-card-footer>
  </mat-card>
  